[submodule "udoo/solox/libraries/LiquidCrystal_neo"]
	path = udoo/solox/libraries/LiquidCrystal
	url = https://github.com/UDOOboard/LiquidCrystal
[submodule "udoo/solox/libraries/Gyro_neo"]
	path = udoo/solox/libraries/Gyro_neo
	url = https://github.com/UDOOboard/FXAS21002C_Arduino_Library
[submodule "udoo/solox/libraries/AccMag_neo"]
	path = udoo/solox/libraries/AccMag_neo
	url = https://github.com/UDOOboard/fxos8700cq-arduino
[submodule "udoo/solox/libraries/Temperature_Brick_neo"]
	path = udoo/solox/libraries/Temperature_Brick_neo
	url = https://github.com/UDOOboard/LM75
[submodule "udoo/solox/libraries/Luminosity_Brick_neo"]
	path = udoo/solox/libraries/Luminosity_Brick_neo
	url = https://github.com/UDOOboard/TSL2561-Arduino-Library
[submodule "udoo/solox/libraries/Humidity_Brick_neo"]
	path = udoo/solox/libraries/Humidity_Brick_neo
	url = https://github.com/UDOOboard/SI7021
[submodule "udoo/solox/libraries/Barometric_Brick_neo"]
	path = udoo/solox/libraries/Barometric_Brick_neo
	url = https://github.com/UDOOboard/Adafruit_MPL3115A2_Library
