#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@ 

override_dh_auto_clean:
	rm -rf debian/build

override_dh_auto_build:
	./debian/neo-build.sh
	ls -l debian/build

override_dh_install:
	dh_install
	rm -rf debian/arduino-core-udooneo/usr/share/arduino/hardware/UDOO/solox/variants/udooneo/*.c
	rm -rf debian/arduino-core-udooneo/usr/share/arduino/hardware/UDOO/solox/variants/udooneo/*.cpp
	cp debian/build/udooneo.a debian/arduino-core-udooneo/usr/share/arduino/hardware/UDOO/solox/variants/udooneo/
	sed -e "s;\/\*udooneo.a\*\/;/usr/share/arduino/hardware/UDOO/solox/variants/udooneo/udooneo.a;g" -i debian/arduino-core-udooneo/usr/share/arduino/hardware/UDOO/solox/variants/udooneo/linker_scripts/gcc/libs.ld
	sed -e "s;\/\*udooneo.a\*\/;/usr/share/arduino/hardware/UDOO/solox/variants/udooneo/udooneo.a;g" -i debian/arduino-core-udooneo/usr/share/arduino/hardware/UDOO/solox/variants/udooneo/debug_scripts/gcc/libs.ld
